# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=YOUR_DB_NAME
DB_USERNAME=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD

# R2DBC URL
DB_R2DBC_URL=YOUR_R2DBC_URL

# JDBC URL (Flyway needs JDBC)
DB_JDBC_URL=YOUR_FLYWAY_URL

# Cloudinary
CLOUDINARY_CLOUD_NAME=YOUR_NAME_USER
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_KEY_SECRET--Q

# RESEND
RESEND_API_KEY=YOUR_RESEND_API_KEY
